# === Rust Backend ===
/drust-backend/target/
/drust-backend/Cargo.lock

**/*.rs.bk


# === Python API ===
/drust-bff/__pycache__/
/drust-bff/.venv/
/drust-bff/venv/
/drust-bff/*.py[cod]
/drust-bff/*.egg-info/
/drust-bff/.env
/drust-bff/.pytest_cache/
/drust-bff/pip-wheel-metadata/
/drust-bff/*.log


# === Node/React Frontend ===
/drust-frontend/node_modules/
/drust-frontend/build/
/drust-frontend/dist/
/drust-frontend/.next/
/drust-frontend/.turbo/
/drust-frontend/.cache/

# === Docker ===
*.pid
docker-compose.override.yml

# === Editor & System ===
.vscode/
.idea/
.DS_Store
Thumbs.db
